node_modules
.next
out
.env
.env.local
.env*.local
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
downloads/*
!downloads/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
debug/*
!debug/.gitkeep
